*{
  padding: 0;
  margin: 0;
  font-family: 'Malgun Gothic';
}

input[type="button"]{
  display: inline-block;
  padding: 4px;
  margin: 4px;
  border: 1px solid #000;
  background-color:#000;
  color: #fff;
}

.AppWrap{
  margin: 8px;
  border: 1px solid #000;
  padding: 8px;
}

.AppHead{
  border-bottom: 1px solid #000;
}

.AppContent{
  min-height: 500px;
  border-bottom: 1px solid #000;
}

.TaskWrap{
  height: 500px;
  overflow-y: scroll;
}

.Task{
  padding: 8px;
  border-bottom: 1px dotted black;
}

.BtnEdit{
  background-color: #0D54D5 !important;
  border-color: #0E2891 !important;
}

.BtnDel{
  background-color: #DB4545 !important;
  border-color: #B61B1B !important;
}

.AppFoot{
  margin-top: 8px;
  text-align: right;
}
